.user-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5em;
}

.contact-card {
    display: flex;
    justify-content: space-between;
    width: 50em;
}

.user-home-content {
    display: flex;
    width: 50em;
}

.user-info {
    display: flex;
    flex-direction: column;
    width: 30%
}

.user-favorite-container {
    width: 70%
}